---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 1 Proposal";
---

<Layout title={pageTitle}>
  <h1>Project 1 Proposal</h1>
  <ul>
    <li>Pokemon (It's never failed me before)</li>
    <img src="https://en.meming.world/images/en/6/6e/Surprised_Pikachu.jpg" alt="Surprised Pikachu">
    <li>Pokemon that taste good vs. pokemon that would taste bad</li>
    <li>Breakfast food tier list</li>
    <img src="https://pbs.twimg.com/media/D7C7NBhW0AATP3P.jpg:large" alt="Breakfast">
    <li>Why the old library should have a pancake maker</li>
    <img src="https://images.squarespace-cdn.com/content/v1/628b909667040d3af75cdca3/768775d5-2abe-4780-abd5-8b1291719e4d/Popcake_Touchless-Pancake-Machine.jpg" alt="automatic pancake maker">
    <li>Memes and why everyone should use them</li>
    <img src="https://i.ytimg.com/vi/wRnIeckoF5A/maxresdefault.jpg" alt="Memes">
  </ul>
</Layout>

<style>
  h1 {
    color: black;
  }
  li{
    font-size: larger;
    font-weight: bold;
  }
</style>
