---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 1";
import Dropdown from "@components/Dropdown.astro";
---

<Layout title={pageTitle}>
  <div class="page-container">
    <header>
      <h1 class="header-start">Why the Old Library Should Have a Pancake Maker</h1>
    </header>
    <section class="pancake-reason">
      <h2>This is a Good Idea, Trust Me</h2>
    </section>
    <section class="how-to">
      <h2>How it Would Work</h2>
    </section>
    <section class="alternatives">
      <h2>Other Options</h2>
    </section>
    <Dropdown title="Pancakes"/>
  </div>
</Layout>

